Please generate a hard negative statements that have semantically incorrect (e.g. opposite) meaning to the one
In the following correct statement by changing at least one object in the statement. Each hard negative should
be a plausible option but must convey the opposite/incorrect meaning as the correct one.

example:
Given Correct statement: I should get involved with artistic expression Because dressing in style is a type of art
Becomes:
Generated Incorrect statements with explanation: I shouldn't get involved with sports Because dressing in style is a type of art


Correct Interpretation:{{correct_statement}}

Ensure that the hard negatives maintain a degree of similarity to the correct
interpretation in terms of words but implies opposite meaning that the correct answer.
Only return the hard negative.
