USER:<image>
Question: What are the indices of the 3 best interpretations in ranked form among the options for this image? Separate them by comma.
Options: {{options}}
your answer must only follow the format of {{answer_format}} not any other format.
Do not include any explanation, only the indices of the three best options separated by comma.
Assistant:
